<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<table>
  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Cocktail', new_cocktail_path %>